In [1]:
import pandas as pd
import numpy as np

list_series = pd.Series([1, 2, 3, 4, 5])
print("Series from list:\n", list_series)

array_series = pd.Series(np.array([10, 20, 30, 40, 50]))
print("\nSeries from numpy array:\n", array_series)

dict_series = pd.Series({'a': 100, 'b': 200, 'c': 300})
print("\nSeries from dictionary:\n", dict_series)

Series from list:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

Series from numpy array:
 0    10
1    20
2    30
3    40
4    50
dtype: int32

Series from dictionary:
 a    100
b    200
c    300
dtype: int64

In [2]:
custom_index_series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Series with custom index:\n", custom_index_series)

Series with custom index:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
series_a = pd.Series([1, 2, 3, 4, 5])
series_b = pd.Series([10, 20, 30, 40, 50])

addition = series_a + series_b
print("Addition:\n", addition)

subtraction = series_a - series_b
print("\nSubtraction:\n", subtraction)

multiplication = series_a * series_b
print("\nMultiplication:\n", multiplication)


division = series_a / series_b
print("\nDivision:\n", division)

Addition:
 0    11
1    22
2    33
3    44
4    55
dtype: int64

Subtraction:
 0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64

Multiplication:
 0     10
1     40
2     90
3    160
4    250
dtype: int64

Division:
 0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [4]:
series_a = pd.Series([1, 2, 3, 4, 5])
series_b = pd.Series([10, 20, 30, 40, 50])

addition = series_a + series_b
print("Addition:\n", addition)

subtraction = series_a - series_b
print("\nSubtraction:\n", subtraction)
 
multiplication = series_a * series_b
print("\nMultiplication:\n", multiplication)

division = series_a / series_b
print("\nDivision:\n", division)

Addition:
 0    11
1    22
2    33
3    44
4    55
dtype: int64

Subtraction:
 0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64

Multiplication:
 0     10
1     40
2     90
3    160
4    250
dtype: int64

Division:
 0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [5]:
series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
element_a = series['a']
print("Element at index 'a':", element_a)
element_0 = series.iloc[0]
print("Element at position 0:", element_0)

Element at index 'a': 10
Element at position 0: 10

In [6]:
series = pd.Series([10, 20, 30, 40, 50])
filtered_series = series[series > 25]
print("Filtered Series (values > 25):\n", filtered_series)

Filtered Series (values > 25):
 2    30
3    40
4    50
dtype: int64

In [7]:
data = {
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]
}
df = pd.DataFrame(data)
print("DataFrame from dictionary of lists:\n", df)

DataFrame from dictionary of lists:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [8]:
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_from_array = pd.DataFrame(array, columns=['Col1', 'Col2', 'Col3'], index=['Row1', 'Row2', 'Row3'])
print("DataFrame from numpy array:\n", df_from_array)

DataFrame from numpy array:
       Col1  Col2  Col3
Row1     1     2     3
Row2     4     5     6
Row3     7     8     9

In [12]:
import pandas as pd

# Use a sample dataset from the internet
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_csv = pd.read_csv(url)
print("DataFrame loaded from online CSV:\n", df_csv)

DataFrame loaded from online CSV:
      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [13]:
print("First five rows of the DataFrame:\n", df_csv.head())
print("\nLast five rows of the DataFrame:\n", df_csv.tail())

First five rows of the DataFrame:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Last five rows of the DataFrame:
      PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [14]:
summary = df_csv.describe()
print("Summary of the DataFrame:\n", summary)

mean = df_csv.mean()
median = df_csv.median()
std_dev = df_csv.std()

print("\nMean:\n", mean)
print("\nMedian:\n", median)
print("\nStandard Deviation:\n", std_dev)

Summary of the DataFrame:
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
column_series = df_csv['Age']  
print("Extracted column as Series:\n", column_series)

Extracted column as Series:
 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [18]:
filtered_rows = df_csv[df_csv['Age'] > 30] 
print("Filtered rows:\n", filtered_rows)

Filtered rows:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]

In [19]:
filtered_rows_multiple = df_csv[(df_csv['PassengerId'] > 800) & (df_csv['Survived'] < 0)]  # Replace 'column1', 'column2', 'value1', and 'value2' accordingly
print("Filtered rows based on multiple conditions:\n", filtered_rows_multiple)

Filtered rows based on multiple conditions:
 Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []